<script type="text/html" id="AdminTemplate">
    <div class="content">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item clickable">
                        New Blog post
                    </li>
                    <li class="list-group-item clickable">
                        Edit Post
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div data-bind="component: AdminContent">
                    </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="AdminBlogTemplate">
    Title:
    <input class="form-control" data-bind="value: BlogPost().Title">
    Author:
    <input class="form-control" data-bind="value: BlogPost().Author">
    Date:
    <input class="form-control" data-bind="value: BlogPost().Date">
    Blog Post:
    <textarea class="form-control" data-bind="value: BlogPost().Text">

    </textarea>
    <a class="btn btn-default" data-bind="click:SavePost">Save Post</a>
</script>