<script type="text/html" id="GymTrackerTemplate">
    <div class="content">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th> Date </th>
                    <th> Resting Heart Rate </th>
                    <th> Weight </th>
                    <th> Chest Skinfold </th>
                    <th> Abdominal </th>
                    <th> Thigh Skinfold </th>
                    <th> Tricep/Bicep </th>
                    <th> Subscapular </th>
                    <th> Suprailiac </th>
                    <th> Midaxillary </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th> Total Body Fat </th>
                    <th> Fat Mass </th>
                    <th> Lean Mass </th>
                    <th> Bicep (Right) </th>
                    <th> Shoulders </th>
                    <th> Chest </th>
                    <th> Waist </th>
                    <th> Hips </th>
                    <th> Upper Thigh (Right) </th>
                    <th> Calf (Right) </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th> Right Shoulder </th>
                    <th> Left Shoulder </th>
                    <th> Pushup </th>
                    <th> Hamstring (Right)</th>
                    <th> Hamstring (Left) </th>
                    <th> Squat </th>
                    <th> Fit Test </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                </tr>
            </tbody>

    </div>
</script>