<h1> Welcome to NerdHaven's website!</h1>
Hey all,

<p>First of all, thank you for stopping by our site and checking us out. We are a very tiny new server that is white list based (mostly to ward off the trolls looking for a free hop).

<p>We are currently very little and have a small selection of regulars. We have 2 admins running the server, one in game and one that helps with the server setup as needed. You can reach out to PirateAmp with questions in game.

<p>Please make sure you look over the rules link at the top of the page and see if this server is for you. If you are interested in joining our small community, please click on the Member Application link at the top, answer our short questionaire and we will get it approved as soon as we are able. We will approve them after we whitelist you.
</p>