<h1> Server Commands</h1>
<h3>Teleportation</h3>

<h4><code>/tpa player</code></h4>
<small> This will prompt <code>player</code> to accept a teleportation request</small>

<h4><code>/tpahere player</code></h4>
<small> This will request <code>player</code> to accept a teleportation request to you</small>

<h4><code>/tpaccept</code></h4>
<small> This will accept the TPA request from another player</small>

<h4><code>/rtp</code></h4>
<small> This will randomly teleport you around the world</small>

<h4><code>/sethome [home]</code></h4>
<small> This will assign <code>home</code> to your current location and facing. </small>

<h4><code> /home [home]</code></h4>
<small> This will teleport you <code>home</code> 
Note that home is only required if you have more than one home set.</small>

<h4><code>/back</code></h4>
<small> This will teleport you back to your last teleport location</small>

<h4><code>/warp [warp]</code></h4>
<small> This will teleport you to <code>warp</code>.</small>


<h3> Claims</h3>
<h4><code>/Claimlist</code></h4>
<small> Shows total amount of claim blocks available, and current claims</small>

<h4><code>/AbandonClaim</code></h4>
<small> This will abandon the claim you are currently standing in.</small>

<h4><code>/Trust player</code></h4>
<small>Gives build trust to <code>player</code> to your claim. If you are not standing on a claim this will trust them to all claims.</small>

<h4><code>/permissiontrust player</code></h4>
<small>Gives permission trust to <code>player</code> to your claim. This allows that player to give trust to your claim. If you are not standing on a claim this will trust them to all claims.</small>

<h4><code>/containertrust player</code></h4>
<small>Gives container trust to <code>player</code> to your claim. <code>Player</code> can now access your chests, without being able to build.
 If you are not standing on a claim this will trust them to all claims.</small>

<h4><code>/accesstrust player</code></h4>
<small>Gives access trust to <code>player</code> to your claim. If you are not standing on a claim this will trust them to all claims.</small>

manage build containers access
<h3> Mail </h3>

<h4><code>/mail send player text</code></h4>
<small> This will send <code>player</code> some mail containing <code>text</code>.</small>

<h4><code>/mail read</code></h4>
<small> This command will show any mail you have received</small>

<h4><code>/mail clear</code></h4>
<small> This will clear your inbox</small>

<h3> Misc Perks</h3>
<h4><code>/fly</code></h4>
<small> This will let you activate fly mode. Press space bar twice to activate</small>

<h4><code>/craft</code></h4>
<small> This opens a portable crafting table</small>

<h4><code>/echest</code></h4>
<small> This gives you access to your ender chest.</small>
<br><br><br><br><br><br>
