<h1>Server Rules</h1>
<h3>1. Don't be a jerk.
    <small> We reserve the right to remove your whitelist status at any time if you are rude to other players. If you have to ask if something makes you a jerk, you're being a jerk.</small>
</h3>
<h3>2. Don't cheat.
    <small> Why do you play this game if you just come on to cheat? Just don't do it.</small>
</h3>
<h3>3. Don't try to break the server.</h3>
<h3>4. Don't steal from other players. 
    <small> See rule 1.</small>
</h3>
<br>
<br>
<small>I want to re-itereate that we reserve the right to remove you from our whitelist at any time for not following our rules. 
    We don't micro-manage our players, but we do track your actions. That said, please just have fun and be kind. We are all adults here.
</small>